* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("/fonts/PPPangramSans-Light.otf") format("opentype");
  font-family: "PangramSans-Light";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("/fonts/PPPangramSans-Medium.otf") format("opentype");
  font-family: "PangramSans-Medium";
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Fonts */
  --primary-font-light: "PangramSans-Light";
  --primary-font-medium: "PangramSans-Medium";

  /* Colors */
  --orange: #ff5252;
  --black: #000000;
  --white: #ffffff;
  --gray-200: #f2f2f2;
  --gray-400: #a0abbb;

  --bg-color: var(--white);
  --text-color: var(--black);
  --bg-secondary-color: var(--gray-200);
  --text-secondary-color: var(--orange);
  --text-third-color: var(--gray-400);
  --upload-icon-color: var(--gray-400);

  /* Padding */
  --container-padding: 48px;
}

body {
  font-family: var(--primary-font-light);
  color: var(--text-color);
}

.heading {
  font-size: 62px;
  margin-bottom: 50px;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 14px 20px;
  border-radius: 44px;

  transition: all 0.1s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.page-wrapper {
  max-width: 1256px;
  margin: 0 auto;
}
