* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("/fonts/PPPangramSans-Light.otf") format("opentype");
  font-family: "PangramSans-Light";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("/fonts/PPPangramSans-Medium.otf") format("opentype");
  font-family: "PangramSans-Medium";
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Fonts */
  --primary-font-light: "PangramSans-Light";
  --primary-font-medium: "PangramSans-Medium";

  /* Colors */
  --orange: #ff5252;
  --black: #000000;
  --white: #ffffff;
  --gray-200: #f2f2f2;
  --gray-400: #a0abbb;

  --bg-color: var(--white);
  --text-color: var(--black);
  --bg-secondary-color: var(--gray-200);
  --text-secondary-color: var(--orange);
  --text-third-color: var(--gray-400);
  --upload-icon-color: var(--gray-400);

  /* Padding */
  --container-padding: 48px;

  /* Size */
  --logo-size: 26px;
  --nav-icon-size: 28px;
  --user-icon-size: 36px;
  --menu-icon-size: 20px;
  --header-size: 48px;
  --card-width: 380px;
  --card-height: 285px;
  --cards-gap: 20px;
  --wrapper-width: 1180px;
  --card-radius: 12px;
  --form-radius: 8px;
  --btn-radius: 44px;
}

body {
  font-family: var(--primary-font-light);
  color: var(--text-color);
}

.heading {
  font-size: var(--header-size);
  margin-bottom: 50px;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: none;
  padding: 14px 20px;
  border-radius: var(--btn-radius);

  transition: all 0.1s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.page-wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
  position: relative;
}
