* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("/fonts/PPPangramSans-Light.otf") format("opentype");
  font-family: "PangramSans-Light";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("/fonts/PPPangramSans-Medium.otf") format("opentype");
  font-family: "PangramSans-Medium";
  font-weight: 600;
  font-style: normal;
}

:root {
  /* Fonts */
  --primary-font-light: "PangramSans-Light";
  --primary-font-medium: "PangramSans-Medium";

  /* Colors */
  --orange: #ff5252;
  --black: #000000;
  --white: #ffffff;
  --gray: #f2f2f2;

  --bg-color: var(--white);
  --text-color: var(--black);
  --bg-secondary-color: var(--gray);
  --text-secondary-color: var(--orange);

  /* Padding */
  --container-padding: 48px;
}

body {
  font-family: var(--primary-font-light);
  color: var(--text-color);
}

.heading {
  font-size: 62px;
  margin-bottom: 50px;
}
